extends layout

block content
    .container-fluid.contenidor
        #header.row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .pull-right
                    a(href="/") Back
        #titol.row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                h2 Quadramat - A sonovisual synthesizer
        #cos.row
            .col-xs-8.col-md-3
                h3 Register as new user
                hr
                - if(error == "1")
                    p.well.well-sm.alert-danger The user already exists, with same e-mail or name.
                - else if(error == "2")
                    p.well.well-sm.alert-danger Please request an Invitation Code to the author.
                form(action='/register/new', method='POST')
                    .form-group
                        label(for='email') E-mail:
                        input.form-control(type='email', name='email', id='email', required='', placeholder='Your e-mail')
                    .form-group    
                        label(for='name') Name:
                        input.form-control(type='text', name='name', id='name', required='', placeholder='Your name')
                    .form-group    
                        label(for='password') Password (6 characters min.):
                        input.form-control(type='password', id='password', name='password', required='', placeholder='******', minlength='6')
                    .form-group    
                        label(for='password2') Repeat password (6 characters min.):
                        input.form-control(type='password', id='password2', name='password2', required='', placeholder='******', minlength='6')
                    .form-group    
                        label(for='invcode') Invitation code:
                        input.form-control(type='text', name='invitationCode', id='invcode', placeholder='******', required='')
                    input.btn.btn-primary(type='submit', value='Submit')
                script.
                    var password = document.getElementById("password");
                    var password2 = document.getElementById("password2");
            
                    function validatePassword() {
                        if (password.value != password2.value) {
                            password2.setCustomValidity("Passwords don't match");
                        } else {
                            password2.setCustomValidity('');
                        }
                    }
            
                    password.onchange = validatePassword;
                    password2.onkeyup = validatePassword;