extends layout

block content
    #fonslegible.container-fluid.contenidor
        #header.row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .pull-right
                    a(href="/") Back
        #titol.row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                h2 Quadramat - A sonovisual synthesizer
        #cos.row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                h1 Welcome #{session.name}!
                p Now you are able to save, rename and delete your presets...
                p You won't be able to delete or rename other users' presets but you can save them as your own with your modifications
                a.btn.btn-info(href='/') Click here to begin